.bottom-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    height: 38px;
    bottom: 0;
    width: 100%;
    background-color: #c3c3c3;
    z-index: 50;
    box-shadow: #c3c3c3 0px -1px 1px;
    border-top: 2px solid #fff;
    padding: 0 10px 0 5px;

}
.bottom-bar__start-button {
    background: url('../img/start-button2.png') transparent no-repeat ;
    background-position: center;
    background-size: cover;
    height: 30px;
    width: 78px;
    min-width: 78px;
    text-align: right;
    box-shadow: #000000 2px 2px 1px;
    border: 0;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    font-weight: bold;
    font-size: 14px;

}
.bottom-bar__start-button:hover {
    box-shadow: #00000044 1px 1px 1px;
    transform: translate(1px, 1px);
}
.bottom-bar__start-button:active {
    box-shadow: none;
    transform: translate(2px, 2px);
}

.bottom-bar__time {
    height: 30px;
    width: 120px;
    margin-left: auto;
    color: #000;
    font-size: 13px;
    text-align: center;
    border-top: 2px solid #828282;
    border-left: 2px solid #828282;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    align-content: center;
}
.bottom-container {
    margin: auto 10px;
}
.bottom-layer {
    height: 30px;
    max-width: 120px;
    min-width: 30px;
    padding: 0 35px;
    text-align: left;
    box-shadow: #00000044 2px 2px 2px;
    border: 0;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    font-size: 14px;
    background-color: #c3c3c3;
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: center;
    background-size: 20px;
    
}
.bottom-layer:hover {
    box-shadow: #00000044 1px 1px 2px;
    transform: translate(1px, 1px);
}
.projects-layer {
    background-image: url('../img/folder-icon.png');
}

.about-layer {
    background-image: url('../img/txt-icon.png');
}