.bottom-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    height: 38px;
    bottom: 0;
    width: 100%;
    background-color: #c3c3c3;
    z-index: 50;
    box-shadow: #c3c3c3 0px -1px 1px;
    border-top: 2px solid #fff;
    padding: 0 10px 0 5px;
    min-width: 320px;

}
.bottom-bar__start-button {
    background: url('../img/start-button2.png') transparent no-repeat ;
    background-position: center;
    background-size: cover;
    height: 30px;
    width: 78px;
    min-width: 78px;
    text-align: right;
    border: 0;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    font-weight: bold;
    font-size: 14px;

}
.bottom-bar__start-button:hover {
    transform: translate(0.5px, 0.5px);
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}
.bottom-bar__start-button:active {
    box-shadow: none;
    transform: translate(1px, 1px);
}

.bottom-bar__time {
    height: 30px;
    min-width: 60px;
    margin-left: auto;
    color: #000;
    font-size: 13px;
    text-align: center;
    padding-top: 8px;
    border-top: 2px solid #828282;
    border-left: 2px solid #828282;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    align-content: center;
}
.bottom-container {
    margin: auto 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
}
.bottom-container::-webkit-scrollbar {
    display: none;
}
.bottom-layer {
    height: 30px;
    max-width: 120px;
    min-width: 30px;
    padding: 0 35px;
    overflow: hidden;
    text-align: left;
    border: 0;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    font-size: 14px;
    background-color: #c3c3c3;
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: center;
    background-size: 20px;
    
}
.bottom-layer:hover {
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    transform: translate(0.5px, 0.5px);
}
.projects-layer {
    background-image: url('../img/folder-icon.png');
    margin-left: 5px;
}

.about-layer {
    background-image: url('../img/txt-icon.png');
    margin-left: 5px;
}
.skills-layer {
    background-image: url('../img/folder-icon.png');
    margin-left: 5px;
}




.active {
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
}
.active:hover{
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
}